body {
  background-image: url(astronaut.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-pic {
  width: 100%;
  height: 250px;
  margin: 0;
}

.profile-pic {
  position: relative;
  top: -4rem;
  left: 11rem;
  width: 100px;
  border: 5px solid white;
  border-radius: 50%;
}

.left-column {
  float: left;
  width: 33.3%;
  color: white;
}

.left-text {
  position: relative;
  left: 10rem;
  width: 40%;
  padding: 2rem;
}

.center-column {
  float: left;
  width: 33.3%;
  margin: auto;
  color: white;
}

