html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url(star-trek.jpg);
  background-size: 100%, 100%;


}

nav{
  background:gray;
  width:100%;
  margin:auto;
  padding:10px;
 }

.alchemy {
    width: 100%;
    height: 225px;
  }

.astro {
  border-radius: 50;
  border: 5px solid white;
  height: 100px;
}
